@import 
url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:opsz@6..12&display=swap');

body{
	font-family: Krub, sans-serif;
	margin: 0;
	background-color: #64A1F4;
	color: black;
	font-weight: 500;
	text-align: center;
}

.img-fluid{  
	text-align: center;
	margin: 0 auto;
	display: block;
	padding-bottom: 15px;
}

nav .fa{
	font-size: 2em;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
}

.fa{
	color: #ffcc00;
	font-size: 3em;
}

/* Vertical Navigation bar */

nav ul{
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

nav li{
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}

nav a{
  text-decoration: none;
}

nav a:link{
	color: white;
}

nav a:visited{
	color: white;
}

nav a:hover{
	color: lightgrey;
}

nav a:active{
	color: white;
}

.navbar-custom {
	background-color:#164FD3;
}


main{
	max-width: 1000px;
	margin: 20px auto;
}

h1{
	font-family: 'Playfair Display', cursive;
	text-align: center;
	font-size: 4em;
}

h2{
	color: #ffcc00;
}

footer{
	text-align: center;
	border-top: 1px gray;
	padding: 10px;
}

/* CSS for Tablets */
@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
}

/* CSS for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}
}

.about-sec {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background: #82CCFF; 
}

#pg1 {
    text-align: center;
}

.about-sec h1 {
    text-align: center;
}

.about-sec #text {
    text-align: left;
}

.about-sec p {
    font-size: 15px;
    max-width: 600px;
    text-align: justify;
}

